{% extends "base.html" %}
{% block navbar %}
<div class="container">
{{ super() }}
</div>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row clearfix">
        <div class="col-md-4 column">
			<div>
				<h3>Upload a new file.<h3/>
			</div>
			<form role="form" method="POST" enctype="multipart/form-data">
                    <label class="btn btn-default">
                        Browse <input  type=file name="data_file" class="hidden">
                    </label>
					<p class="help-block">
						Support csv files.
					</p>
					<input type="submit" value=Submit class="btn btn-default">
			</form>
		</div>
		<div class="col-md-8 column">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							Num
						</th>
						<th>
                            Data Name
						</th>
						<th>
							Size
						</th>
					</tr>
				</thead>
				<tbody>
                    {% for row in table %}
					<tr>
						<td>
							{{row[0]}}
						</td>
						<td>
							{{row[1]}}
						</td>
						<td>
							{{row[2]}}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
			<ul class="pagination">
				<li>
					 <a href="?page=1">Prev</a>
				</li>
				<li>
					 <a href="?page=1">1</a>
				</li>
				<li>
					 <a href="?page=1">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}